<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Immoloc - {% block title %}Administration{% endblock %}</title>
    {{encore_entry_link_tags('app')}}
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% include 'admin/partials/header.html.twig' %}  
    <main>
        {% block body %}{% endblock %}
    </main>
  
    {% include 'admin/partials/footer.html.twig' %}

    {{encore_entry_script_tags('app')}}
    {% block javascripts %}{% endblock %}
</body>
</html>