<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ImmoLoc - {% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
        
       
    </head>
    <body>

        {% include 'partials/header.html.twig' %}

        <main>
            {% block body %}{% endblock %}
        </main>

        {% include 'partials/footer.html.twig' %}

            {{ encore_entry_script_tags('app') }}
         {% block javascripts %}
        {% endblock %}
    </body>
</html>
